{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<!-- model class name and their fields we can call like this -->


user -- {{ user.id }}
    

<!-- html post method in that we are using post here to get the data -->
    <h3>{{ post.title }} -- {{ post.id }}</h3> 

    <small>by {{post.author}} - {{post.post_date}}</small>

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

        <a href={% url 'update' post.pk %}><small>(edit)</a>
        <a href={% url 'delete' post.pk %}><small>(delete)</small></a> <br>
        
        {% if object.header_images %}
        <!-- this is for showing up the image location  -->
        <img src =  "{{object.header_image.url}}" width=200 height=200>
        {% endif %}

        {{object.body |safe}}

        {% endif %}
       
        
    <a href="{% url 'home' %}" class="btn btn-secondary" style='margin-right:10px' role="button" aria-pressed="true">back</a>
{% else %}
 
   <a href = {% url 'login' %}>login</a>
   <a href= {% url 'register' %}> register</a>

{% endif %}

<br><br>
<hr>
<form action ="{% url 'like-post' post.pk %}" method ='POST'>

  {% csrf_token %}
  
    {% if user.is_authenticated %}
        {% if liked %}
        <button type = 'submit', name = 'post_id', value='{{ post.id }}' class ='btn btn-danger'>unlike</button> 
        {% else %}

        <button type = 'submit', name = 'post_id', value='{{ post.id }}' class ='btn btn-primary'>like</button>
        {% endif %}

        - {{total_likes}} likes
    {% else %}
        <h5> <a href = {% url 'login' %}>login </a>to like</h5>  
    {% endif %}

</form>
  
<br><br>

<!--for comments  -->

<!-- model name is comment but related name which has been given is comments and it just connected with post model
so post.comments -->

<h2>Comments</h2>
{% if not  post.comments.all %}


  No comments yet...<a href ="{% url 'add_comment' post.pk %}">Add Comment</a> 
  
{% else %}
<br>
<a href ="{% url 'add_comment' post.pk %}">Add Comment</a> 
<br> <br>
 
  {% for com in post.comments.all %}
    
    {{ com.body }}
    <br>
    
    <strong> {{ com.name }}</strong> --{{ com.date_added }} <br>

    <a href ="{% url 'add_comment' post.pk %}">Add Comment</a> <br>
    {% endfor %}
  
{% endif %}

<!-- for the user details page (card page) -->
<br><br>

<div class="card mb-3">
    <div class="row no-gutters">  
      <div class="col-md-2">

    {% if post.profile.profile_pic %}
        <img src="{{post.author.profile.profile_pic.url}}" class="rounded-circle" width = 180 height =180 class="img-fluid rounded-start" alt="...">
      </div>
    {% else %}
        <img src="{% static 'theblog/images/default_pic.jpg' %}" class="rounded-circle" width = 180 height =180 class="img-fluid rounded-start" alt="...">
      </div>
    {% endif %} 

      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"> {{post.author}}</h5>
          <p class="card-text"><small class="text-muted">
                
                <a href ="{% url 'show_profile_page' post.author.profile.id %}">profile page</a>|

                {% if post.author.profile.website_url %}
                  <a href = "{{  post.author.profile.website_url }}" >Website</a>|
                {% endif %}

                {% if post.author.profile.facebook_url %}
                  <a href = "{{  post.author.profile.facebook_url }}" >Facebook</a> |
                {% endif %}

                {% if post.author.profile.twitter_url %}
                  <a href = "{{  post.author.profile.twitter_url }}" >Twitter</a> |
                {% endif %}
                
                <!-- if piniterest url is then show -->
                {% if post.author.profile.pinterest_url %}
                  <a href = "{{  post.author.profile.pinterest_url }}" >Pinterest</a> 
                {% endif %}

            </small></p>
          <p class="card-text">{{ post.author.profile.bio }}</p>
        
        </div>
      </div>
    </div>
  </div>
<!-- 
<img src ="{{post.author.profile.profile_pic.url}}" class="rounded-circle" width = 100 height =100> -->

{% endblock %}


